<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<th:block th:replace="fragments :: headMain('Dettaglio ' + ${element})"></th:block>
	</head>
	<body>
		<!-- Main Layout --> 
		<div class="container-fluid main-container" >

		<!-- Header --> 
			<th:block th:replace="fragments :: header()"></th:block>
			
			<div class="px-5 py-3 row justify-content-center align-items-stretch flex-nowrap bg-light w-100" style="height:80vh;">
			
			<!-- Aside NavBar --> 
				<th:block th:replace="fragments :: asideNav(${routeName})"></th:block>
				
				<main class="col-9">
					<h3 class="m-0 text-center bg-dark text-light py-2 w-100 text-capitalize" style="position:sticky;top:0;transition:all 0.5s linear;border-bottom:1px solid #fff;">Dettaglio [[${element}]]</h3>
				
				<!--Details section -->
					<th:block th:replace="fragments :: detailsSection(${obj}, ${element})"></th:block>
				</main>
			</div>				
		</div>		
	</body>
</html>