* {
	box-sizing:border-box;
	margin:0;
	padding:0;
}

body {
	overflow-y:hidden;
}

.headerApp {
	background-image: url("../img/pizza2.jpg");
	background-repeat:no-repeat;
	background-size:cover;
	background-position:center;
	box-shadow: 0 0 3px #000;
	background-color:#000;
	opacity:0.9;
}

.main-container {
	height:100vh;
	width:100vw;
	padding:0;
}

main {
	overflow-y:auto;
	position:relative;
	padding:0!important;
	box-shadow: 0 0 3px #000;
}

.mainHeader {
	position:sticky;
	top:0;
	width:100%;
	transition:all 0.5s linear;
	border-bottom:1px solid #fff;
	text-transform:capitalize;
	z-index:99;
}

.tableHeader {
	position:sticky;
	top:0;
	width:100%;
	transition:all 0.5s linear;
	text-transform:capitalize;
	z-index:99;
}

.container-app {
	height:80vh;
	width:100%;
}

.h-100 {
	height:100%;
}

.v-al-mid{
	vertical-align:middle;
}


.bdy {
	color:#ffffff!important;
}


.title-header {
	text-shadow:1px 1px 1px #ffffff; 
}

.aside-nav {
	box-shadow: 0 0 3px #000;
}