<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="ISO-8859-1">
		<title>Pizzeria</title>
		<link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css}"/>
		<link th:rel="stylesheet" th:href="@{/css/scrollbar.css}"/>
		<link th:rel="stylesheet" th:href="@{/webjars/font-awesome/6.2.0/css/all.min.css}"/>
		
	</head>
	<body style="overflow-y:hidden">
		<div class="container-fluid" style="height:100vh;width:100vw;">
			<h1 class="text-primary p-3">Pizzeria Java</h1>
			<hr/>
			<div th:if="${!pizzas.isEmpty()}" class="px-5 py-3 row justify-content-center align-items-stretch flex-nowrap bg-light" style="height:80vh;width:100vw;">
				<aside class="aside col-2 bg-secondary" style="height:100%">
					<h3 class="py-2">Operazioni:</h3>
					<nav>
						<ul class="list-group">
							<li th:class="'list-group-item ' + ${routeName.equals('home') ? 'active' : ''}">	

								<a href="/home" class="d-inline-block w-100 text-decoration-none text-dark"><i class="mx-2 fa-solid fa-house"></i>Homepage</a>
							</li>
							<li th:class="'list-group-item ' + ${routeName.equals('index') ? 'active' : ''}">
								<a href="/" class="d-inline-block w-100 text-decoration-none text-dark"><i class="mx-2 fa-solid fa-list"></i>Vedi tutte le pizze</a>
							</li>
							<li th:class="'list-group-item ' + ${routeName.equals('new') ? 'active' : ''}">

								<a href="/pizza/newPizza" class="d-inline-block w-100 text-decoration-none text-dark"><i class="fa-solid mx-2 fa-plus"></i>Crea una nuova pizza</a>
							</li>
						</ul>
					</nav>
				</aside>
				<main class="col-9" style="overflow-y:scroll; position:relative;">
					<h3 class="m-0 text-center bg-dark text-light py-2" style="position:sticky;top:0;width:100%;transition:all 0.5s linear;border-bottom:1px solid #fff;">Pizze disponibili:</h3>
					<table class="py-3 table table-dark table-striped text-start">
						<thead>
							<tr style="position:sticky;top:0;width:100%;border-bottom:1px solid #fff;transition:all 0.5s linear;">
								<th>Nome</th>
								<th>Descrizione</th>
								<th class="text-start">Prezzo</th>
								<th colspan="3" class="text-center">Azioni:</th>
							</tr>
						</thead>
						<tbody>		
							<tr th:each="pizza : ${pizzas}"	th:object="${pizza}">			 
								<td class="text-capitalize" th:text="*{name}"></td>
								<td class="text-capitalize" th:text="*{description}"></td>
								<td style="width:15%" th:text="*{price} +  ' &euro;'"></td>
								<td style="width:10%">
				 					<a class="btn btn-primary" th:href="@{/pizza/{id} (id=${pizza.id})}">Dettagli</a> 
								</td>
								<td style="width:10%">
									<a th:href="@{/pizza/edit/{id}(id=${pizza.id})}" class="btn btn-success">Modifica</a>
								</td>
								<td  style="width:10%">
									
									<a th:href="@{/pizza/delete/{id}(id=${pizza.id})}" class="btn btn-danger">Elimina</a>
								</td>
							</tr>
						</tbody>
					</table> 
				</main>
			</div>		
			<h2 th:if="${pizzas.isEmpty()}">Nessuna pizza trovata</h2>
		</div>
					
		<script th:src="@{/webjars/bootstrap/5.1.3/js/bootstrap.bundle.min.js}"></script>	
	</body>
</html>